#home--videos {

  .video-wrapper {

    @media @desktop {
      margin-bottom: @spaced*2;
    }

    iframe {
      display: block;
    }

    .table {

      height: 100%;
      width: 100%;

      .cell {

        height: 100%;
        width: 100%;
        vertical-align: middle;

      }


    }

  }

}