#home--social {

  article {

    img {
      .img-responsive()!important;
    }

    &.image {

      br {

        display: none;

      }

    }

    &.tweet {

      background: #333;
      color: @white;
      position: relative;
      .font_size(24);

      a {
        color: inherit;
        text-decoration: underline;
      }

      .tweet-wrapper {
        .cover();
      }

    }

  }

}