body,html {
  height: 100%;
  background: @black100;
  color: @white;
  overflow: visible;
}

#home--wrapper {
  padding-bottom: @spaced*4;
}

#home--gallery,
#home--story,
#home--videos,
#home--social {

  background: url('/assets/img/bg-background.png') top center no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &.static {
    background-attachment: scroll
  }


}

.wrapper {
  padding: @spaced;
}

a {
  color: @white;
}

p {

  color: @white75;
  line-height: 1.5;
  .font_size(18);

  a, a:visted {
    color: @white;
    &:hover {
      color: @white;
    }
  }

}

h1,h2,h3,h4,h5,h6 {
  color: @white;
}

figure {

  figcaption {
    color: @white75;
    .font_size(14);
    line-height: 1.4;
  }

  &:hover {
    figcaption {
      color: @white;
    }
  }

}

.navigate-icon {

  cursor: pointer;
  border: 2px solid @white;
  color: @white;
  height: 50px;
  line-height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  margin-top: 15px;
  opacity: .5;
  display: inline-block;
  .transition();

  &:visited {
    color: @white;
  }

  &:hover {
    opacity: 1;
    color: @white;
    margin-top: 17px;
  }

  i {

    position: relative;
    top: .06em;
    .font_size(30);

  }

}

hr {

  &.vertical-nav-line {
    margin: 0;
    margin-left: 24px;
    width: 2px;
    height: 150px;
    opacity: .5;
  }

}

section {

  header {
    margin-bottom: @spaced;
  }

}

.section-title {

  text-transform: uppercase;
  .futuraNav();
  font-weight: 900;

  span {

    border-top: 2px solid @white50;
    display: inline-block;
    padding-top: 4px;

  }

}

.section-content {
  margin-bottom: @spaced*5;
}

.spinner-thing {
  width: 30px;
  height: 30px;
  background-color: #333;
  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
